<template>
  <div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          {{ name.toUpperCase() }}
        </h5>
        <p class="card-text">Category active {{ is_active }}</p>
        <p class="card-text">
          Category included in the menu {{ include_in_menu }}
        </p>
        <p class="card-text">
          Category Description : {{ category_description }}
        </p>
        <p class="card-text">Category Level : {{ level }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    is_active: {
      type: String,
      required: true
    },
    include_in_menu: {
      type: String,
      required: true
    },
    category_description: {
      type: String,
      required: true
    },
    level: {
      type: String,
      required: true
    }
  }
};
</script>
