<template>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" :src="`${img}`" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">
        {{ name.toUpperCase() }}
      </h5>
      <p class="card-text">Product SKU : {{ sku }}</p>
      <p class="card-text">Product Price : {{ price }} $</p>
      <p class="card-text">Product Description : {{ product_description }}</p>
      <p class="card-text">Sizes available : {{ sizes }}</p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    img: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    sku: {
      type: String,
      required: true
    },
    price: {
      type: String,
      required: true
    },
    product_description: {
      type: String,
      required: true
    },
    sizes: {
      type: String,
      required: true
    }
  }
};
</script>
