<template>
  <div class="container">
    <div>
      <h1>
        Category Page Layout
      </h1>
      <Nuxt />
    </div>
  </div>
</template>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
