<template>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <h1 v-if="error.statusCode === 404">Page Not Found!</h1>
      <NuxtLink class="test-info" to="/">Home page</NuxtLink>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "error"
};
</script>
