<template>
  <div class="container">
    <!-- this bloc will be displayed only if the product layout is activated from the middlware -->
    <div v-show="render_product">
      <ProductCard
        :img="img"
        :name="name"
        :sku="sku"
        :price="price"
        :product_description="product_description"
        :sizes="sizes"
      />
    </div>
    <!-- this bloc will be displayed only if the category layout is activated from the middlware -->
    <div v-show="render_category">
      <CategoryCard
        :name="name"
        :is_active="is_active"
        :category_description="category_description"
        :include_in_menu="include_in_menu"
        :level="level"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    /* these are all of the componenets props we need to display every componenet in this page */
    return {
      render_product: false,
      render_category: false,
      img: "",
      name: "",
      sku: "",
      price: "",
      product_description: "",
      category_description: "",
      sizes: "",
      level: "",
      is_active: "",
      include_in_menu: ""
    };
  },
  layout: context => {
    /* the dynamic layout will be set here depending on the value stored in the state page_config.layout and brokered by the middleware */
    return context.store.state.page_config.layout;
  },
  head() {
    /* the page title will be set here depending on the value stored in the state page_config.title and brokered by the middleware */
    return {
      title: this.$store.state.page_config.title.toUpperCase()
    };
  },
  mounted() {
    /* here the paghe will check if it is going to render the product componenets */
    if (this.$store.state.page_config.render_product) {
      this.render_product = true;
      /* if the page is going to render the product componenets, it will fetch the data required to populate those componenets from the PORDUCTS API and then set them to the componenet props */
      this.$axios
        .$get(`http://localhost:5000/products${this.$route.path}`)
        .then(res => {
          {
            this.img = res.img;
            this.name = res.name;
            this.sku = res.sku;
            this.price = JSON.stringify(res.price);
            this.product_description = res.description;
            this.sizes = res.sizes;
          }
        })
        .catch(err => {
          console.log(err);
        });
    } /* here the paghe will check if it is going to render the category componenets */ else if (
      this.$store.state.page_config.render_category
    ) {
      this.render_category = true;
      /* if the page is going to render the category componenets, it will fetch the data required to populate those componenets from the CATEGORIES API and then set them to the componenet props */
      this.$axios
        .$get(`http://localhost:5000/categories${this.$route.path}`)
        .then(res => {
          {
            this.name = res.name;
            this.is_active = JSON.stringify(res.is_active);
            this.include_in_menu = JSON.stringify(res.include_in_menu);
            this.category_description = res.description;
            this.level = JSON.stringify(res.level);
          }
        })
        .catch(err => {
          console.log(err);
        });
    } /* if the page is not going to render either of the prevois componenets, it will throw a no render log */ else {
      console.log("no render!");
    }
  }
};
</script>

<style></style>
