<template>
  <div class="container">
    <div class="row w-100">
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Unregistred Route : </label> <br />
        <NuxtLink to="/test">Click Me!</NuxtLink>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Products : </label>
        <div v-for="(product, id) in this.products" :key="id">
          <NuxtLink :to="`${product.url}`">{{ product.name }} </NuxtLink>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Categories :</label>
        <div v-for="(category, id) in this.categories" :key="id">
          <NuxtLink :to="`${category.url}`">{{ category.name }} </NuxtLink>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <label>Data from UPWARD :</label>
        <h5>
          Total Products Count in category ID 2020 :
        </h5>
        <strong>{{ upward_data.data.category.products.total_count }}</strong>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      products: "getProducts",
      categories: "getCategories",
      upward_data: "getUpwardData"
    })
  }
};
</script>

<style></style>
